@font-face {
  font-family: "Abel-Regular";
  src: url("../assets/fonts/Abel-Regular.ttf");
}

@font-face {
  font-family: "destain";
  src: url("../assets/fonts/destain.ttf");
}

@font-face {
  font-family: "garamond";
  src: url("../assets/fonts/garamond.ttf");
}


body {
    margin: 60px auto;
    width: 70%;
    background-image: url("../assets/images/mt cook.jpg")
}

nav ul, footer ul {
    font-family: 'destain';
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

.blurb {
  margin: 100px 0
}

h1 {
    font-size: 3em;
    font-family:'Abel-Regular';
    margin: 0;
    text-shadow: 2px 2px #ffffff;
    color: #f4a742;
}

h2 {
  font-size: 2em;
  font-family: 'Abel-Regular';
  margin: 0.5em 0;
  color: #f4a742;
}

footer {
    font-size: 2em;
    color: #ffffff;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 2em;
}

ul.posts li {
    list-style: none;
}

.date, .meta {
  font-family: 'Abel-Regular';
  color: #f4a742;
}

.post-title {
  font-family: 'destain';
}

.arrows {
  color: #ffffff;
}

.post {
  background-color: rgba(255,255,255,0.8);
  padding: 2em 7em;
  line-height: 2;
  font-family: 'garamond';
  font-size: 1em;
}

.post a {
  color: #f4a742;
}
