<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans&display=swap" rel="stylesheet">
        <script src="../assets/js/readMore.js"></script>
    </head>
    <body>
        <nav>
            <div class="blurb">
                <h1>Lucy-Jane</h1>
                <div class="profile">
                    {% assign min = 1 %}
                    {% assign max = 4 %}
                    {% assign diff = max | minus: min %}
                    {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
                    {% capture image %}
                    "../assets/images/me{{ randomNumber }}.png"
                    {% endcapture %}
                    <img src={{ image }}/>
                </div>
                <h2>Software</h2>
                <h2>Engineer</h2>
            </div>
            <ul>
                <li><a href="https://www.linkedin.com/in/lucy-jane-walsh-63454248/">Linkedin</a></li>
                <li><a href="https://github.com/ljewalsh">Github</a></li>
                <li><a href="/assets/files/Lucy-Jane.Walsh.CV.pdf" _TARGET="_blank"_/>CV</a></li>
            </ul>
        </nav>
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
