<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>

        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        <footer>
            <nav>
                <ul>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="https://www.linkedin.com/in/lucy-jane-walsh-63454248/">Linkedin</a></li>
                    <li><a href="https://github.com/ljewalsh">Github</a></li>
                    <li><a href="/assets/files/Lucy-Jane.Walsh.CV.pdf/>CV</a></li>"
                </ul>
            </nav>
        </footer>
    </body>
</html>
